@keyframes growdown {
    from {
        transform: scaleY(0.25) translateY(-80%);
    }
    to {
        transform: scaleY(1) translateY(0);
    }
}

.UserConfig {
    position: relative;
}

.UserConfig__icon {
    cursor: pointer;
    color: var(--main);
}

.UserConfig__list {
    width: 10rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 1rem;
    right: 0.25rem;
    background-color: white;
    border: 1px solid var(--main);
    border-radius: 0.2rem;
    padding: 0.25rem;
    font-size: 1rem;
    align-items: center;
    z-index: 1;
    animation: growdown ease-out 0.1s;
}

.UserConfig__notification {
    position: absolute;
    cursor: pointer;
    top: 5px;
    right: -5px;
    width: 0.75rem;
    height: 0.75rem;
    font-size: 0.75rem;
    border: 1px solid orange;
    border-radius: 50%;
    background-color: orange;
    color: white;
    text-align: center;
}
