.ExerciseSet {
    flex: 3 0 20rem;
    overflow-y: auto;
    max-height: 100%;
    padding: 0 0.5rem 0.5rem;
}

.ExerciseSet__title {
    display: flex;
    justify-content: space-between;
    margin: 0.25rem;
    font-size: 1rem;
    text-align: center;
}

.ExerciseSet__title-child {
    flex: 1 0 0;
}

.ExerciseSet__reps {
    display: flex;
    flex-flow: column nowrap;
}

.ExerciseSet__exercise-info {
    display: flex;
}

.ExerciseSet__exercise-info > * {
    flex: 1 0 0;
}

.ExerciseSet__reps-exercise {
    margin: 0.5rem 0;
    min-height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.ExerciseSet__reps-buttons {
    display: flex;
}
.ExerciseSet__reps-buttons .RoundButton {
    margin-right: 1rem;
}

.ExerciseSet__reps-volume {
    font-size: 0.75rem;
    height: 1rem;
    margin-top: auto;
    margin-left: auto;
}

.ExerciseSet__footer {
    display: flex;
    justify-content: space-between;
}
.ExerciseSet__actions > button {
    margin-right: 0.5rem;
    font-size: 1rem;
    padding: 0.35rem;
    border: 1px solid var(--main);
    border-radius: 0.25rem;
    cursor: pointer;
}
.ExerciseSet__actions > button:hover {
    background-color: var(--main-light);
    color: var(--contrast);
    transition: 0.35s;
}
