.RoundButton {
    border: 1px solid var(--main-light);
    background-color: var(--main-light);
    color: var(--contrast);
    border-radius: 1rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}
