.Day {
    border: 1px solid var(--main);
    border-radius: 0.25rem;
    padding: 0.25rem;
    font-size: 0.7rem;
    cursor: pointer;
    user-select: none;
    margin: 0.2rem;
}
.Day.selected, .Day:hover {
    color: var(--contrast);
    background-color: var(--main-light);
    transition: 0.2s;
}

.Day__exercise {
    display: flex;
    justify-content: space-between;
    height: 1rem;
}
