.ColorSelect {
    display: flex;
    flex-flow: column nowrap;
}

.ColorSelect__title {
    text-align: center;
}

.ColorSelect__opts {
    display: flex;
}

.ColorSelect__btn {
    width: 1rem;
    height: 1rem;
    border: 1px solid;
    border-radius: 50%;
    margin: 0.25rem 0.5rem;
    cursor: pointer;
}
.ColorSelect__btn.red {
    border-color: #ce1c1ca8;
}
.ColorSelect__btn.red.selected {
    background-color: #ce1c1c;
}
.ColorSelect__btn.green {
    border-color: #18ab53a8;
}
.ColorSelect__btn.green.selected {
    background-color: #18ab53;
}
.ColorSelect__btn.blue {
    border-color: #1c37cea8;
}
.ColorSelect__btn.blue.selected {
    background-color: #1c37ce;
}
.ColorSelect__btn.magenta {
    border-color: #b00b69a8;
}
.ColorSelect__btn.magenta.selected {
    background-color: #b00b69;
}
